<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我页面</title>
</head>
<body>

    <!--导航-->
    <nav th:replace="fragments :: muen(5)"  class="ui inverted segment attached my_nav_padding my_shadow_small">

    </nav>
    <!--中间-->

    <div class="my_center_padding my_center_padding_big">
        <div class="ui container">
            <div class="ui stackable grid">
                <!--右边图片-->
                <div class="eleven wide column">
                    <img src="https://picsum.photos/800/600?image=1005" alt="" class="ui rounded image">
                </div>
                <!--左边介绍-->
                <div class="five wide column">
                    <div class="ui top attached segment">
                        <div class="ui header">关于我</div>
                    </div>
                    <div class="ui attached segment">
                        <p class="my_text">邓明金，一个学生开发者，在0和1的世界折腾的娃娃；一个终生学习者，将学习无限循环，希望结识新的小伙伴..</p>
                        <p class="my_text">热爱编程，喜欢折腾，正在探索高效率的学习编程技术的方法....</p>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui orange basic label my_margin_tb_tiny">唱</div>
                        <div class="ui orange basic label my_margin_tb_tiny">跳</div>
                        <div class="ui orange basic label my_margin_tb_tiny">rap</div>
                        <div class="ui orange basic label my_margin_tb_tiny">篮球</div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui teal basic label my_margin_tb_tiny">Java</div>
                        <div class="ui teal basic label my_margin_tb_tiny">Springboot</div>
                        <div class="ui teal basic label my_margin_tb_tiny">JavaScript</div>
                        <div class="ui teal basic label my_margin_tb_tiny">Golang</div>
                        <div class="ui teal basic label my_margin_tb_tiny">C</div>
                        <div class="ui teal basic label my_margin_tb_tiny">C#</div>
                        <div class="ui teal basic label my_margin_tb_tiny">Mysql</div>
                        <div class="ui teal basic label my_margin_tb_tiny">Python</div>
                    </div>
                    <div class="ui bottom attached segment">
                        <a href="https://github.com/DeMiJi" class="ui circular icon button"><i class="github icon"></i></a>
                        <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                        <a href="#" class="ui qq circular icon button" data-content="2890340612"><i class="qq icon"></i></a>
                        <a href="#" class="ui circular icon button"><i class="facebook icon"></i></a>
                        <a href="#" class="ui Gmail circular icon button" data-content="d2890340612@gmail.com"><i class="mail icon"></i></a>
                    </div>
                    <div class="ui wechat_qr flowing popup transition hidden">
                        <img src="../static/images/wx.png" th:src="@{/images/wx.png}" alt="" class="ui rounded image" style="width: 100px">
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
<br>
<!--底部-->
<footer th:replace="fragments :: footer" class="ui inverted segment vertical my_footer_padding">

</footer>
</body>
<!--用CDN的方式引入jquery和semantic框架的包-->
<th:block th:replace="fragments :: script">

</th:block>
<script>
    <!--实现手机端下拉列表-->
    $('.menu.toggle').click(function () {
        $('.m_item ').toggleClass('my_mobile_hide');
    });
    <!--显示QQ号-->
    $('.qq').popup();
    <!--显示微信-->
    $('.wechat').popup({
        popup : $('.wechat_qr'),
        on : 'hover',
    });
    <!--显示邮箱-->
    $('.Gmail').popup();
</script>
</html>