<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>归档页面</title>
</head>
<body>
<!--用CDN的方式引入jquery和semantic框架的包-->
<th:block th:replace="fragments :: script">

</th:block>
<!--导航-->
<nav th:replace="fragments :: muen(4)" class="ui inverted segment attached my_nav_padding my_shadow_small">

</nav>
    <!--中间-->
    <div class="my_center_padding my_center_padding_small">
        <div class="ui container">
            <!--头部-->
            <div class="ui top attached padded segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">归档</h3>
                    </div>
                    <div class="right aligned column">
                        共<h3 class="ui orange header my_inline_block my_text_thin">14</h3>篇
                    </div>
                </div>
            </div>
            <h2 class="ui center aligned header">2020</h2>
            <div class="ui fluid vertical menu">
                <!--内容-->
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon" style="margin-right: 1.5em!important;"></i>关于刻意练习清单
                        <div class="ui teal basic left pointing label my_padding_min">7月23日</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon" style="margin-right: 1.5em!important;"></i>关于刻意练习清单
                        <div class="ui teal basic left pointing label my_padding_min">7月23日</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon" style="margin-right: 1.5em!important;"></i>关于刻意练习清单
                        <div class="ui teal basic left pointing label my_padding_min">7月23日</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon" style="margin-right: 1.5em!important;"></i>关于刻意练习清单
                        <div class="ui teal basic left pointing label my_padding_min">7月23日</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
            </div>
            <h2 class="ui center aligned header">2019</h2>
            <div class="ui fluid vertical menu">
                <!--内容-->
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon" style="margin-right: 1.5em!important;"></i>关于刻意练习清单
                        <div class="ui teal basic left pointing label my_padding_min">7月23日</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon" style="margin-right: 1.5em!important;"></i>关于刻意练习清单
                        <div class="ui teal basic left pointing label my_padding_min">7月23日</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon" style="margin-right: 1.5em!important;"></i>关于刻意练习清单
                        <div class="ui teal basic left pointing label my_padding_min">7月23日</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon" style="margin-right: 1.5em!important;"></i>关于刻意练习清单
                        <div class="ui teal basic left pointing label my_padding_min">7月23日</div>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
            </div>

        </div>
    </div>
<br>
<br>
<br>
<!--底部-->
<footer th:replace="fragments :: footer" class="ui inverted segment vertical my_footer_padding">

</footer>
</body>
<script>
    <!--实现手机端下拉列表-->
    $('.menu.toggle').click(function () {
        $('.m_item ').toggleClass('my_mobile_hide');
    });
</script>
</html>